/* for mobile devices */


@media screen and (max-width:576px) {

  nav,
  .menu,
  .menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

  }

  nav {
    padding-left: 400px;
  }

  .menu ul {
    margin-top: -40px;
  }

  .menu ul li {
    padding: 20px 0;

  }

  .logo-game {
    padding: 30px;
  }

  .follow {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
  }


  /* banner section */
  .banner,
  .online-game-img-container {
    flex-direction: column-reverse;
    background-color: #fff;
  }

  .banner-content {
    width: 100%;
    padding-left: 300px;
    padding-top: 100px;
  }

  .btn-go {
    margin-left: 0;
  }

  .banner-img-container {
    margin-top: 30px;
    width: 100%;
    flex-direction: column-reverse;
  }

  .banner-img-container img {
    padding-left: 220px;
  }

  /* online game */


  .online-game-img-container {
    padding-left: 400px;
  }

  .online-game>.section-title {
    padding-left: 190px;
  }

  .online-game>.text-light-grey {
    padding-left: 190px;
  }

  .online-game-img-container .text-light-grey {
    margin-top: 10px;
    text-align: center;
  }

  /* play instantly */


  .play-instantly {
    flex-direction: column;
  }

  .play-instantly .section-title {
    padding-left: 50px;
    text-align-last: left;
  }

  .instantly-content {
    padding-left: 370px;
    width: 100%;
  }

  .instantly-content>.text-light-grey {
    text-align: left;
    padding-left: 50px;
  }

  .instantly-img {
    width: 100%;
  }

  .instantly-img .img {
    width: 100%;
    height: 100%;
  }

  .instantly-img .card-img {
    width: 50%;
    height: 50%;
    position: relative;
    right: 50px;
    bottom: 160px;
  }

  /* games section */


  .game {
    width: 100%;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-section {
    width: 830px;
    height: 879px;
    flex-shrink: 0;
    background-color: #0B0223;
  }

  .footer>.logo-game {
    padding-top: 150px;
    margin-left: 220px;
    margin-bottom: 45px;
    justify-content: center;
  }

  .footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-about {
    padding: 0px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0px 20px 100px;

  }

  .icon {
    margin-top: 100px;
    margin-left: 270px;
    gap: 60px;

  }

  .text-paragraph {
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;
  }

  .para {
    width: 35%;
    margin-left: 250px;
  }

  .para .pa {
    margin-left: 10px;
    text-align: center;
  }


}




/* for tablet devices */



@media screen and (min-width:576px) and (max-width:992px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 10px;

  }

  .menu {
    flex-direction: column;
    width: 100%;
    margin-left: 90px;
  }

  .logo-game {
    margin-left: 80px;
  }

  .follow {
    margin-left: 50px;
    margin-bottom: 100px;
  }

  .banner,
  .online-game-img-container {
    flex-direction: column-reverse;
    background-color: #fff;
  }

  .banner-img-container {
    width: 100%;
    padding-left: 280px;
  }

  .banner-content {
    width: 100%;
    padding-left: 490px;
    padding-top: 100px;
  }

  .online-game-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 500px;
    padding-top: 100px;
  }

  .online-game>.section-title {
    width: 100%;
    margin-left: 250px;
  }

  .online-game>.text-light-grey {
    width: 100%;
    padding-left: 250px;
    margin-bottom: 10px;
  }

  /* play instantly section */


  .play-instantly {
    flex-direction: column;
  }

  .play-instantly>.instantly-content {
    width: 100%;
    padding-left: 550px;
    margin-top: 100px;
  }

  .instantly-content>.section-title {
    text-align: center;
  }

  .instantly-content>.text-light-grey {
    text-align: center;
  }

  .instantly-img {
    width: 100%;
    padding-left: 450px;
  }

  .game {
    width: 100%;
    margin-left: 270px;
    display: flex;
    flex-wrap: wrap;
  }

  /* footer */



  .footer-section {
    width: 1260px;
    height: 880px;
    background-color: #0B0223;
  }



  .footer>.logo-game {
    padding-top: 150px;
    margin-left: 420px;
    margin-bottom: 45px;
    justify-content: center;
  }

  .footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;

  }

  .footer-about {
    padding: 0px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0px 20px 200px;

  }

  .icon {
    margin-top: 100px;
    margin-left: 500px;
    gap: 60px;

  }

  .text-paragraph {
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;
  }

  .para {
    width: 35%;
    margin-left: 400px;
  }

  .para .pa {
    margin-left: 10px;
    text-align: center;
  }


}